#first {
    font: 24px Arial;
    color: black;
    text-align: center;
    word-spacing: 1rem;
}

h1 {
    text-align: center;
    font: 26px Arial; line-height: 2;
    border-bottom: 5px solid #a92626;
}

/*audio {
    margin: 0 auto;
}*/

p {
    text-align: center;
    font: 18px Arial;
    line-height: 0.5;
}

.special {
    font-weight: bold;
}

a:visited {
    color: #808080;
}

a:link {
    color: black;
}

a:hover {
    text-decoration:none;
}

