.first li {
    
    text-align: center;
    font: 22px Arial;
    color: #fff;
    background-color: #a92626;
    width: 150px;
    padding: 1em;
    text-decoration: none;
    display: inline-block;
}
h1 {
    text-align: center;
    font: 26px Arial;
    line-height: 2;
    border-bottom: 5px solid #a92626;
}

h2 {
    text-align: center;
    font: 26px Arial;
    line-height: 2;
    writing-mode: vertical-rl;
    border: 1px solid #808080;
    height: 500px;
    padding: 1em;
}

ul {
    list-style: none;
}

.audio {
    
}

.box {
    border: 5px solid #a92626;
    border-radius: 1em;
    width: 500px;
    margin: 0 auto;
}

p {
    text-align: center;
    font: 18px Arial;
    line-height: 0.5;
}

.special {
    font-weight: bold;
}

a:visited, link {
    color: #fff;
}

a:hover {
    text-decoration:none;
}

