#first {
    font: 20px Arial;
    color: black;
    text-align: center;
}

h1 {
    text-align: center;
    font: 26px Arial; line-height: 2;
    border-bottom: 5px solid #a92626;
}

p {
    text-align: center;
    font: 16px Arial;
    line-height: 0.7;
}

.special {
    font-weight: bold;
}

a:visited {
    color: #808080;
}

a:link {
    color: black;
}

a:hover {
    text-decoration:none;
}

