html {
    background-color:#e9d6ff
}

h1 {
    color:brown;
    font-size:5em;
}

.outer {
    margin: 0 auto;
    border: 5px solid black;
    width: 0 auto;
}

.box {
    margin: 10px;
    padding: 10px;
    width: 0 auto;
    background-color: blueviolet;
    color: white;
    font: 22px Arial;
}

p {
    color:chocolate;
    font-size:2em;
}

.special {
    color: midnightblue;
    font-weight: bold;
}
li {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

a:link {
    color: midnightblue;
}

a:visited {
    color: indianred;
}

body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
}
