html {
    background-color:#e9d6ff
}

li {
    list-style-type: none;
}

caption {
    padding: 1em;
}

table {
    table-layout: fixed;
    width: 100%;
    
}

th, td {
    text-align: center;
    padding: 1em;
}

thead th:nth-child(1) {
    width: 5%;
    border: 1px solid black;
}

